
    <%- include("Includes/head.ejs") %>
    <body>
        <h2> this page belongs to <%= data.name %></h2>
        <button> follow</button>
        <button>message</button>
        <h3> accounts that you follow:
            <p>
                followers: <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                
                followings : <% data.following %>
             </p>
        </h3>
    <hr/>

    <% for(let post of data.posts) { %>
       <img src="<%= post.image %>" alt="some img">
   <p>
    likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    comments : <%= post.comments %>
   </p>

   <% } %>
   <script src="/js/app.js"></script>
    </body>
   

</html>

